<!DOCTYPE html>

<!-- Copyright (C) 2018-2023 Marco Wahl gitlab.com/marcowahl -->

<!-- This program is free software: you can redistribute it and/or modify -->
<!-- it under the terms of the GNU General Public License as published by -->
<!-- the Free Software Foundation, either version 3 of the License, or -->
<!-- (at your option) any later version. -->

<!-- This program is distributed in the hope that it will be useful, -->
<!-- but WITHOUT ANY WARRANTY; without even the implied warranty of -->
<!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the -->
<!-- GNU General Public License for more details. -->

<!-- You should have received a copy of the GNU General Public License -->
<!-- along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

<html lang="en">
  <head>
    <title>rope read</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <style type="text/css">
      .rope-read-section .line:nth-of-type(2n) {
	  -moz-transform:rotate(180deg);
	  -webkit-transform:rotate(180deg);
      }

      body {
	  margin:0;
	  padding:0;
	  font-size:20pt;
	  height:100%;
      }

      #rope-read-input {
	  width: 100%;
	  height: 100%;
      }

      #input-area {
	  width: 100%;
	  height: 100%;
      }

      #menu {
	  width: 100%;
	  height: 20pt;
	  margin: 0;
	  padding: 0;
      }

      #input {
	  background-color: beige;
	  font-size: 0.5em;
	  width: 100%;
	  height: 1em;
	  padding: 5px;
      }

      .menu-butt {
	  vertical-align: top;
      }

    </style>
  </head>
  <body ondrop="drop_handler(event)" ondragover="dragover_handler(event)" >
  <div id="menu">
      <input type="button" class="menu-butt" value="rope-read home" onclick="home()"></input>
      <input type="button" class="menu-butt" value="+" onclick="zoom_text_in()"></input>
      <input type="button" class="menu-butt" value="-" onclick="zoom_text_out()"></input>
      <input type="button" class="menu-butt" value="refresh display" onclick="refresh()"></input>
      <input type="button" class="menu-butt" value="clear" onclick="clear_text()"></input>
      <input type="button" class="menu-butt" value="reverse color" onclick="reverse_text_color()"></input>
    </div>
    <textarea id="input"></textarea>
    <div id="output" class="rope-read-section" data-lining>
      rope-read ______________
      Paste or write text into the box above.  Get the text in rope-read style. ______________
      The purpose of this page is to support the rope-read reading style.  ______________
      Recommended browser is <a href="http://firefox.com">firefox</a>. ______________
      This is <a href="https://en.wikipedia.org/wiki/Free_software">free software</a>. ______________
      No guarantees! ______________
      For feedback and code go to <a href="https://gitlab.com/marcowahl/rope-read"> gitlab.com/marcowahl/rope-read </a> ______________
      And btw rope-read is not a cloud thing.  Your browser does all the work.  No data gets stored by the maintainer/developer of this page. ______________
      Thanks to the guys of lining.min.js which is the core of this rope-read implementation! ______________
      Have fun!</div>
  </body>
  <script src="lining.min.js"></script>
  <script>
    
    function slurpText() {
        var output_element = document.getElementById("output")
        output_element.textContent = document.getElementById(
            "input").value.replace(new RegExp("\n\n", 'g'), " ______________ ")
        lining(output_element)
    }

    (function () {
	"use strict;"
        document.getElementById("input").value = "" // clean start.
        document.getElementById("input").oninput = slurpText
        // if there is text given with the uri: {{{
        if (window.location.hash != "") {
            // see
            // https://stackoverflow.com/questions/14070105/pre-fill-form-field-via-url-in-html
            // from where this comes.
            var hashParams = window.location.hash.substr(1).split('&'); //substr(1) to remove the `#`
            for(var i = 0; i < hashParams.length; i++) {
		var p = hashParams[i].split('=');
		var output_element = document.getElementById("output")
		output_element.textContent =
                    decodeURIComponent(p[1])
                    .replace(new RegExp("\n\n", 'g'), " ______________ ")
		lining(output_element)
            }
        }
        // }}}
    })()

    function dragover_handler(ev) {
        ev.preventDefault();
        // Set the dropEffect to move
        ev.dataTransfer.dropEffect = "move"
    }

    function drop_handler(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        var output_element = document.getElementById("output")
        output_element.textContent = data
            .replace(new RegExp("\n\n", 'g'), " ______________ ")
        lining(output_element)
    }

    function clear_text() {
        document.getElementById("input").value = ""
        slurpText()
    }

    function refresh() {
	slurpText()
    }

    function reverse_text_color() {
        var elem = document.getElementById("output")
        var color = elem.style.color
        if (color == "white") {
            elem.style.color = "black"
            elem.style.backgroundColor = "white"
            document.body.style.backgroundColor = elem.style.backgroundColor
            document.body.style.color = elem.style.color
        } else {
            elem.style.color = "white"
            elem.style.backgroundColor = "black"
            document.body.style.backgroundColor = elem.style.backgroundColor
            document.body.style.color = elem.style.color
        }
    }

    function home() {
	window.location.reload()
        // document.location.href = "https://marcowahl.gitlab.io/rope-read"
    }

    var current_text_size = 20 // corresponds to the 20pt setting for body text size.
    
    function zoom_text_in() {
        current_text_size++
	var output = document.getElementById("output")
	output.style.fontSize = current_text_size + "pt"
        lining(output)
    }

    function zoom_text_out() {
	if (1 < current_text_size)
	    current_text_size--
	var output = document.getElementById("output")
	output.style.fontSize = current_text_size + "pt"
        lining(output)
    }
    
  </script>
</html>
